
       
 h1 {
    color: #b1b1b1;
    background-color: #282c34;
    padding: 20px;
  }
       body {
            font-family: Arial, sans-serif;
            background-color: #b4b8ce;
          
            padding: 20px;
        }
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
          
        }
        .card {
            background-color: #626f80d8;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 10px;
            padding: 20px;
            width: 250px;
            text-align: center;
        }
        .card img {
            width: 100px;
            border-radius: 50%;
        }
        .card h3 {
            margin: 15px 0;
        }
        .card button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .card button:hover {
            background-color: #45a049;
        }
        .profile-card {
            background-color: #768599d8;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            max-width: 400px;
            margin: auto;
            text-align: center;
        }
        .profile-card img {
            width: 120px;
           
        }
        .profile-card h3 {
            margin: 20px 0;
        }
        .profile-card button {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .profile-card button:hover {
            background-color: #45a049;
        }
        .profile-card img:hover {
        
            border-radius: 50%;
        }
